
body {
  font-family: "Helvetica"
}

.players-table table {
  padding: 10px 10px 10px 2px;
  margin: 5px 0px 50px 0px;
  width: 40%;
  min-width: 500px;
}

.players-table th {
  color: #888;
  font-size: 80%;
  text-align: left;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.players-table td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.stats-table table {
  padding: 0px 10px 10px 2px;
  margin: 0px 0px 5px 0px;
  width: 400px;
}

.stats-table th {
  padding: 3px;
  background-color: #eee;
  text-align: left;
  font-weight: normal;
}

.stats-table td {
  padding: 3px;
  background-color: #eee;
  text-align: right;
}



h1 {
  background-color: #6e9be5;
  padding: 2px 0px 0px 17px;
}

.batch-wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 10px;
  page-break-after: always;
  padding: 0px 20px 0px 20px;
}
