
.App {
  font-family: "Helvetica"
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  text-align: center;
  font-size: large;
}

.players-table table {
  padding: 10px 10px 10px 2px;
  margin: 5px 0px 50px 0px;
  width: 40%;
  min-width: 500px;
}

.players-table th {
  color: #888;
  font-size: 80%;
  text-align: left;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.players-table td {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.stats-table table {
  padding: 0px 10px 10px 2px;
  margin: 0px 0px 5px 0px;
  width: 20%;
  min-width: 250px;
}

.stats-table th {
  padding: 3px;
  background-color: #eee;
  text-align: left;
  font-weight: normal;
}

.stats-table td {
  padding: 3px;
  background-color: #eee;
  text-align: right;
}



h1 {
  background-color: #ddd;
}

.batches {
  padding: 0px 20px 0px 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
